<tr id="<%= dom_id disciplina %>">

  <td><%= disciplina.id %></td>
  <td><%= disciplina.nome %></td>
  <td>
    <%= link_to "Show", disciplina_path(disciplina) %> |
    <%= link_to "Edit", edit_disciplina_path(disciplina) %> |
    <%= link_to "Delete", confirm_delete_disciplina_path(disciplina) %>
  </td>

</tr>
